.stack {
  display: flex;
  margin: 0;
  padding: 0;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.noWrap {
  flex-wrap: nowrap;
}

.column {
  flex-direction: column;
}

.gap-none {
  gap: 0;
}

.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 1.75rem;
}

.align-stretch {
  align-items: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}
