@use '~/styles/breakpoints' as *;

.grid {
  display: grid;
  gap: 1.75rem;
  align-items: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@include below($drawer) {
  .columns-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include below($phone) {
  .columns-2,
  .columns-3 {
    grid-template-columns: minmax(0, 1fr);
  }
}
